footer.footer
	.wrap
		.row.middle-xs
			.col-sm-6.made-with-love
				h3
					| Scrumified by #{''}
					a(href='https://oschrenk.com') Oliver Schrenk
					br
					| Original #{''}
					a(href='https://gitmoji.carloscuesta.me') gitmoji
					|  idea by #{''}
					a(href='https://carloscuesta.me/') Carlos Cuesta
			.col-sm-6.footer-nav
				nav
					a(href="/about") About
					a(href="/contributors") Contributors
					a(href="https://github.com/oschrenk/scrumoji") GitHub
